* {
    margin: 0;
    padding: 0;
}

body {
    background: url("../images/movie/background.png") repeat;
    font-size: 8pt;
    font-family: Verdana, Tahoma, sans-serif;
}

header.banner {
    background: url("../images/movie/bannerbg.png") repeat-x;
    text-align: center;
}

h1 {
    font-size: 24pt;
    font-weight: bold;
    text-align: center;
    font-family: Tahoma, Verdana, sans-serif;
    text-shadow: 3px 3px #999999;
}


.overview {
    width: 800px;
    margin: 0px auto;
    border: 4px solid gray;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    padding-bottom: 18px;
}

.overall {
    width: 550px;
    position: relative;
}

.overall header {
    background: url("../images/movie/rbg.png") repeat-x;
    font-size: 48pt;
    color: red;
    font-weight: bold;
}

aside {
    float: right;
    width: 250px;
    box-sizing: border-box;
    background-color: #A2B964;
    font-size: 8pt;
    font-family: Arial, sans-serif;
}

aside dl {
    margin: 10pt;
}

aside dt{
    font-weight: bold;
}

aside dd {
    margin-left: 30pt;
    margin-bottom: 10pt;
}

aside ul {
    list-style: none;
}

.column {
    width: 47%;
    float: left;
    margin-left: 2%;
}

.review {
    margin-bottom: 20px;
}
.review p:first-child {
    border: 2px solid gray;
    border-radius: 10px;
    font-weight: bold;
    font-size: 8pt;
    background-color: #E8DC9B;
    padding: 8px;
}

.review p {
    overflow: auto;
    margin: 10px 0px;
}

.review img {
    float: left;
    margin-right: 5px;
}

.indicator {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #A2B964;
    text-align: center;
    padding: 5px;
}

.publication {
    font-style: italic;
}

.validator{
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: 0.5;
}

.rating {
    position: relative;
    top: -15px;
}