body {
    background-color: white;
    color: #404040;
    font-family: "Georgia", Garamond, serif;
    background-image: url("../images/recipe/silverware.jpg");
}

a {
    color: #A4A400;
}

h1, h2, h3, h4, h5, h6 {
    color: #A4A400;
    font-family: "Lucida Sans Unicode", Helvetica, Arial, sans-serif;
    text-decoration: underline;
    text-align: left;
    font-size: 18px;
    background-color: #F0F0F0;
    letter-spacing: 0.25em;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    width: 50%;
    margin: auto;
}

ul {
    list-style-image: url('../images/recipe/pie_icon.gif');
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

section {
    border-top: 1px solid gray;
    margin-top: 15px;
}

section h2,h3,h4,h5,h6 {
    width:fit-content;
}

abbr {
    text-decoration: underline;
}

blockquote {
    background-color: #fff091;
    font-style: italic;
}

pre {
    margin-top: 2px;
    margin-bottom: 2px;
}

.strong {
    font-weight: bold;
}

.first-section {
    border-top: none;
}

.footer, .footer-separator {
    float:right;
}