body {
    background-color: #3f3f3f;
    margin: 0;
    padding: 0;
    color: #93dbff;
}

hr {
    color: gray;
}

section {

}

section a {
    color: white;
}

.notes {
    font-style: italic;
    font-family: "Times New Roman", Times, serif;
}

.emphasis {
    font-weight: bold;
    text-transform: uppercase;
    color: azure;
}